<html>

<head>
	<title>Signup</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--jQuery library-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!--Latest compiled and minified JavaScript-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		form {
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 8.5%;

		}

		/*
      #setStatus{
          display:none;
      }
*/

		/*
      .form-control
      {
          padding: 20px;
          margin-bottom: 30px;
      }
*/


		label {
			font-size: 15px;
		}

	</style>

	<!--All XHR CALLS WILL GO FROM HERE-->

	<script type="text/javascript">
		function signUp(event) {
			event.preventDefault();
			name = document.getElementById("name").value;
			email = document.getElementById("email").value;
			password = document.getElementById("pass").value;
			console.log(name);
			console.log(password);
			xhr = new XMLHttpRequest();
			xhr.onreadystatechange = showReply;
			data = {
				name: "",
				email: "",
				password: ""
			};

			data["name"] = name;
			data["email"] = email;
			data["password"] = password;
			console.log(JSON.stringify(data));
			xhr.open("POST", "/register_user", true);
			xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xhr.send(JSON.stringify(data));


//			extendSignup();
		}

		function showReply() {
			if (xhr.readyState == 4) {
				alert("Sign up request received successfully and moving to next page!");
				window.open("http://127.0.0.1:5000/extended_signup");
				window.close();
			}
		}

		function enableConfirm() {
			document.getElementById("confirm_pass").disabled = '';
			console.log('enabled');
		}

		function verifyPass() {
			console.log("verify pass");
			pass = document.getElementById("pass").value;
			cpass = document.getElementById("confirm_pass").value;


			if (pass == cpass) {
				stat = document.getElementById("setStatus")
				stat.innerHTML = "Matched";
				stat.style.color = "green";

				document.getElementById("submit").disabled = '';
			} else {
				stat = document.getElementById("setStatus")
				stat.innerHTML = "Not Matched";
				stat.style.color = "red";
			}

		}


		function fb() {
			window.location = "https://www.facebook.com/FitBeast-370979666779699/?ref=bookmarks";
		}

		function insta() {
			window.location = "https://www.instagram.com/fitbeast3?utm_source=ig_profile_share&igshid=nv1rx9quezld";
		}

		function twitter() {
			window.location = "https://twitter.com/FitBeast2?s=17";
		}



		//
		//		function extendSignup() {
		//			console.log("extend signup");
		//			document.getElementById("extend_signup").style.display = "block";
		//		}

	</script>

</head>

<body>


	<!--        Navbar goes here-->
	<div class="container-fluid">
		<nav>
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class=" navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myn">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img src="/static/FitBeast_Black.png" height="30" width="200">
				</div>
			</div>

		</nav>
	</div>


	<!--Login form goes here-->

	<div class="container" style="border:3px white double;background-color: whitesmoke;opacity: 0.88;width: 40%;height: 60%;margin-top: 5%;">


		<form style="color:#AEBD38;" onsubmit="signUp(event)">

			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
			</div>


			<!--      Add an AJAX call to the database to check if email is in use-->
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>

			<div class="form-group">
				<label for="pass">Password</label>
				<input type="password" class="form-control" id="pass" placeholder="Password" name="pass" onblur="enableConfirm()">
			</div>

			<div class="form-group">
				<label for="confirm_pass">Password</label>
				<input type="password" class="form-control" id="confirm_pass" placeholder="Confirm Password" name="confirm_pass" disabled onblur="verifyPass()">


			</div>
			<div id="setStatus">
			</div>


			<button id="submit" type="submit" class="btn btn-primary" disabled='disabled' name="submit">Submit</button>

		</form>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br>
	<footer>
		<nav id="footernav">
			<ul>
				<li><a href="http://127.0.0.1:5000/terms">Terms & conditions</a></li>
				<li><a href="http://127.0.0.1:5000/privacy">Privacy Policy</a></li>
				<li><img src="/static/fb.png" class="icon" height="35" width="35" onclick="fb()" style="cursor:pointer;">
					<img src="/static/twitter.png" class="icon" height="35" width="35" onclick="twitter()" style="cursor: pointer;">
					<img src="/static/insta.png" class="icon" height="35" width="35" onclick="insta()" style="cursor: pointer;"></li>
			</ul>
		</nav>
	</footer>




</body>

</html>
